<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /
  
  # Redirect all requests to the dist folder
  RewriteCond %{REQUEST_URI} !^/dist/
  RewriteRule ^(.*)$ /dist/$1 [L]
  
  # Handle React Router inside dist
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule ^dist/(.*)$ /dist/index.html [L]
</IfModule>
